%header.header
  .header-logo.header-item
    = link_to "LOGO", root_path
  .dropdown-nav.header-item
    MENU
    %ul.header-nav
      %li= link_to "Flori", root_path
      %li= link_to "Orders", guest_orders_path 
  .cart-wrapper.header-item
    = link_to "Cart", cart_path

