%header.header-admin
  .header-logo.header-item
    = link_to "LOGO", admin_path
  .dropdown-nav.header-item
    %span.menu MENU
    %ul.header-nav
      %li= link_to "Home", admin_path
      %li= link_to "Flowers", items_path
      %li= link_to "Orders", orders_path

