%table
  %tr
    %th ID
    %th Description
    %th Cart
    %th Checkout
    %th Pending
    %th Canceled
    %th Delivered
    %th Created_at
    %th Updated_at
    %th Details
    %th Edit
  - @orders.each do |n|
    %tr
      %td= n.id
      %td= n.description
      %td= n.cart
      %td= n.checkout
      %td= n.pending
      %td= n.canceled
      %td= n.delivered
      %td= n.created_at
      %td= n.updated_at
      - if !n.cart
        - if is_admin?
          %td= link_to "open", see_order_admin_path(id: n.id)
        - else
          %td= link_to "open", see_order_path(id: n.id)
      - else
        %td= link_to "open", cart_path
      %td= link_to "edit", edit_order_path(id: n.id)
