%h1
  Cart
- if !@ordered_items.nil?
  %table
    %tr
      %th Item
      %th Quantity 
      %th Amount of money
      %th Update
      %th Delete
    - count = 0
    - @ordered_items.each do |n|
      %tr
        %td= @items[count]
        %td= n.quantity
        %td= n.amount_of_money
        %td= link_to "Update", edit_ordered_item_path(n.id) 
        %td= link_to "Delete", n, method: :delete, data: {confirm: "Are you sure"}
      - count = count + 1
  .checkout-btn-wrapper
    = form_for :order1, url: order_path(@cart_order[0].id), method: :patch do |f|
      = f.hidden_field :state, value: "pending"
      = f.submit "Checkout", class: "button" 
- else
  .empty
    Your cart is empty
