= form_for :order1, url: order_path(@order.id), method: :patch do |f|

  = f.radio_button :state, "canceled", checked: true
  = label :state_cancel, "Cancel"

  = f.radio_button :state, "pending"
  = label :state_pending, "Pending"

  = f.radio_button :state, "cart"
  = label :state_cart, "Cart"

  = f.radio_button :state, "checkout"
  = label :state_checkout, "Checkout"

  = f.radio_button :state, "delivered"
  = label :state_completed, "Delivered"

  = f.submit "Change" 
