%h1 Orders
.orders-wrapper
  .orders-filter-wrapper
    .orders-filter
      Filter by:<br>
      %ul
        %li= link_to "Pending", guest_orders_path(filter: "pending") 
        %li= link_to "Delivered", guest_orders_path(filter: "delivered")
        %li= link_to "All", guest_orders_path
  .orders-result-wrapper
    - if @orders.count > 0
      .orders-result
        = render "orders"
      .page-form
        = will_paginate @orders
    - else
      No orders...
