%h1 Orders
.orders-wrapper
  .orders-filter-wrapper
    .orders-filter
      Filter by:<br>
      %ul
        %li= link_to "Pending", orders_path(filter: "pending") 
        %li= link_to "Delivered", orders_path(filter: "delivered")
        %li= link_to "All", orders_path
  .orders-result-wrapper
    .orders-result
      = render "orders"
    .page-form
      = will_paginate @orders
