%h1 Home
.home-content-wrapper
  .home-orders
    %h3 Orders
    .home-info
      %p
        = "Pending: #{@pending}" 
        :plain 
          <br>
        = "Delivered: #{@delivered}"
  .home-flowers
    %h3 Flowers
    .home-info
      %p
        = "Avaible: #{@available}"
        <br>
        = "Unavaible: #{@unavailable}"

