%table
  %tr
    %th ID
    %th Order ID
    %th Item ID
    %th Quantity 
    %th Amount of money
    %th Arrived
    %th arrived_at
    %th Created_at
    %th Updated_at
  - @ordered_items.each do |n|
    %tr
      %td= n.id
      %td= n.order_id
      %td= n.item_id
      %td= n.quantity
      %td= n.amount_of_money
      %td= n.arrived
      %td= n.arrived_at
      %td= n.created_at
      %td= n.updated_at
