.result-info
  %ul
    %li= item.name
    %li= "Price: #{item.price}"
    - if item.available?
      %li Available: Yes
    - else
      %li Available: No
    %li= "Sold: #{item.sold}"
  .btn
    = link_to "BUY", new_ordered_item_path(item_id: item.id)
