%table
  %tr
    %th ID
    %th Name
    %th Description
    %th Price 
    %th Sold
    %th Available
    %th Created_at
    %th Updated_at
    %th Edit
    %th Destroy
  - @items.each do |n|
    %tr
      %td= n.id
      %td= n.name
      %td= n.description
      %td= n.price
      %td= n.sold
      %td= n.available
      %td= n.created_at
      %td= n.updated_at
      %td= link_to "Edit", edit_item_path(n.id)
      %td= link_to "Destroy", n, method: :delete, data: { confirm: "Are you sure?" }
