= form_for @item do |f|
  = render 'error_messages'
  
  = f.label :name
  = f.text_field :name

  = f.label :description
  = f.text_area :description
 
  = f.label :price
  = f.text_field :price

  = f.submit "Add"
