
.header-admin {
  box-sizing: border-box;
  height: 16vh;
  position: relative;
  background-color: #ffb014;
  border-bottom: 1px solid #000;
  .header-item {
    box-sizing: border-box;
    font-size: 1rem;
    position: absolute;
   }

  .header-logo {
    box-shadow: 2px 2px 1px #000;
    border-bottom: 0.3px solid #fff;
    border-right: 0.3px solid #fff;
    padding: 0 5px 3px 0; 
    left: 10px;
    top: 10px;
    font-size: 1.7em;
    font-weight: bold;
    transition: box-shadow 0.1s;
    a {
      
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px 4px #000;
      
    }
    &:hover {
      box-shadow: 3px 3px 1px #000;
    }
  }

  .header-nav {
    border-bottom: 0.3px solid #fff;
    box-shadow: 0 2px 2px #000;
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffb014;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 50vw;
    li {
      width: 33%;
    }
  }
  .dropdown-nav:hover .header-nav {
    display: block;
  }
  .dropdown-nav {
    a {
      display:block;
      text-decoration: block;
      color: white;
      transition: text-shadow 0.1s;
      padding: 17px;
      &:hover {
        text-shadow: 3px 3px 4px #000;
      }
    }
  }
}


.footer-admin {
  .footer-logo {
    text-align: center;
  }

  .footer-info {
    text-align: center;
  }
}

.home-content-wrapper {
  box-shadow: 5px 5px 2px #000;
  background-color: #fbff2b;
  width: 75vw;
  margin: 0 auto;
  &:after {
    display: block;
    clear: both;
    content: "";
    font-size: 0;
    height: 0;
  }
  h3 {
    text-align: center;
    line-height: 2.7em;
    box-sizing: border-box;
    height: 25%;
  }
  .home-info {
    height: 75%;
    position: relative;
    box-sizing: border-box;
  }
  p, .change-pass {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;   
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.home-orders {
  border-right: 0.3px solid #000;
}


.home-content-wrapper > div {
  float: left;
  margin: 0;
  box-sizing: border-box;
  width: 37.5vw;
  height: 25vw;
}

.flowers-wrapper:after {
  display: block;
  content: "";
  font-size: 0;
  height: 0;
  clear: both;
}

.flowers-filter-wrapper {
  float: left;
  width: 15%;
  margin: 0;
  box-sizing: border-box;
}

.flowers-result-wrapper {
  float: left;
  margin: 0;
  box-sizing: border-box;
  width: 85%;
  .flowers-add {
    padding-right: 3em;
    text-align: right;
  }
}

.orders-wrapper:after {
  display: block;
  content: "";
  font-size: 0;
  height: 0;
  clear: both;
}

.orders-filter-wrapper {

  float: left;
  width: 15%;
  margin: 0;
  box-sizing: border-box;
}

.orders-result-wrapper {
  float: left;
  margin: 0;
  box-sizing: border-box;
  width: 85%;
}

.income-wrapper:after {
  display: block;
  content: "";
  font-size: 0;
  height: 0;
  clear: both;
}

.income-filter-wrapper {
  float: left;
  width: 15%;
  margin: 0;
  box-sizing: border-box;
}

.income-result-wrapper {
  float: left;
  margin: 0;
  box-sizing: border-box;
  width: 85%;
}

.footer-admin {
  box-sizing: border-box;
  position: relative;
  height: 20vh;
  background-color: #adadb2;
  .footer-logo {
    background-color: #ffb014;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    box-shadow: 0 2px 1px #000;
    border-bottom: 0.3px solid #fff;
    border-right: 0.3px solid #fff;
    border-left: 0.3px solid #fff;
    padding: 10px; 
    font-size: 1.7em;
    font-weight: bold;
    transition: box-shadow 0.1s;
    a {
      text-decoration: none;
      color: white;
      text-shadow: 3px 3px 1px #000;
    }
    &:hover {
      box-shadow: 3px 3px 1px #000;
    }
  }

  .footer-info {
    text-align: center;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
  }
}

.flowers-result-wrapper {
  width: auto;
  margin: 0 auto;
}
