/** {
  box-sizing: border-box;
} */
.header {
  box-sizing: border-box;
  height: 16vh;
  position: relative;
  background-color: #ffb014;
  border-bottom: 1px solid #000;
  .header-item {
    box-sizing: border-box;
    font-size: 1rem;
    position: absolute;
   }

  .header-logo {
    box-shadow: 2px 2px 1px #000;
    border-bottom: 0.3px solid #fff;
    border-right: 0.3px solid #fff;
    padding: 0 5px 3px 0; 
    left: 10px;
    top: 10px;
    font-size: 1.7em;
    font-weight: bold;
    transition: box-shadow 0.1s;
    a {
      
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px 4px #000;
      
    }
    &:hover {
      box-shadow: 3px 3px 1px #000;
    }
  }

  .header-nav {
    border-bottom: 0.3px solid #fff;
    box-shadow: 0 2px 2px #000;
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffb014;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 50vw;
  }
}


  .header-nav li {
    margin: 0;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }

  .dropdown-nav:hover .header-nav {
    display: block;
  }
  .dropdown-nav {   
    a {
      display: block;
      text-decoration: none;
      color: white;
      transition: text-shadow 0.1s;
      padding: 17px;
      &:hover {
        text-shadow: 3px 3px 4px #000;
      }
    }
    box-shadow: 2px 2px 1px #000;
    border-bottom: 0.3px solid #fff;
    border-right: 0.3px solid #fff;
    border-left: 0.3px solid #fff;
    padding: 0 5px 3px; 
    font-size: 1.7em;
    font-weight: bold;
    transition: box-shadow 0.1s;
    color: white;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 2px;
    padding: 1em 3em;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: inline-block;
  }

  .cart-wrapper {
    right: 10px;
    top: 10px;
    a {
      text-decoration: none;
      font-size: 1.7em;
      color: white;
      transition: text-shadow 0.1s;
      padding: 17px;
    }
    box-shadow: -2px 2px 1px #000;
    border-bottom: 0.3px solid #fff;
    border-left: 0.3px solid #fff;
    padding: 0 5px 0 3px; 
    font-weight: bold;
    transition: box-shadow 0.1s;
    color: white;
    text-shadow: 2px 2px 4px #000;
    &:hover {
      box-shadow: -3px 3px 2px #000;
    }
  }


.filter-wrapper {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 50vh;
  left: 0; 
  overflow: auto;
}

.filtered_number {
  border-radius: 10px;
  text-align: center;
  font-size: 1.3em;
  font-style: italic;
  line-height: 2em;
  background-color: #e3e3ea;
  font-weight: lighter;
  font-color: black; 
  border: 0.5px solid #ffb014;
}

.flower-wrapper {
  margin: 0 auto;
  width: 80%; 
  border: none;
  background-color: #fbff2b;
  border-radius: 70px;
}

.result-info {
  box-sizing: border-box;
  margin: 0;
  float:left;
  width: 50%;
  border: 0px solid black;
  ul {
    border-radius: 0px;
    margin: 0 auto;
    width: 90%;
    list-style: none;
    border-bottom: 0.3px solid black;
    border-right: 0.4px solid black;
    background-color: #ffb014;
  }
  ul li {
    padding-left: 2em;
    font-size: 1.3em;
    line-height: 1.4em;
  }
  .btn {
    margin: 0 5px 5px 0;
    text-align: right;
    a:link, a:visited {
      border-radius: 5px;
      border: 4px solid #000;
      background: #fff;
      color: #000;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    a:hover, a:active {
      background-color: #000;
      color: #fff;
    }
  }
}

.results-wrapper {
  border: 0.3px solid black;
  border-radius: 70px;
   &:after {
     display: block;
     content: "";
     height: 0;
     clear: both;
     font-size: 0;
   }
}

.page-form {
  text-align: center;
}

.pagination {
  display: inline-block;
  font-size: 1.3em;
  &:after {
    display: block;
    content: "";
    height: 0;
    font-size: 0;
    clear: both;
  }
  a, .previous_page, .next_page{ 
    float: left;
    margin: 0;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  .current {
    margin: 0;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #e6e600;
    font-weight: bold;
  }
  a:hover:not(.current) {
    background-color: #ffff99;
  }
}

.footer {
  box-sizing: border-box;
  position: relative;
  height: 20vh;
  background-color: #adadb2;
  .footer-logo {
    background-color: #ffb014;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    box-shadow: 0 2px 1px #000;
    border-bottom: 0.3px solid #fff;
    border-right: 0.3px solid #fff;
    border-left: 0.3px solid #fff;
    padding: 10px; 
    font-size: 1.7em;
    font-weight: bold;
    transition: box-shadow 0.1s;
    a {
      text-decoration: none;
      color: white;
      text-shadow: 3px 3px 1px #000;
    }
    &:hover {
      box-shadow: 3px 3px 1px #000;
    }
  }

  .footer-info {
    text-align: center;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
  }

  .top-arrow {
    position: absolute;
    bottom: 1em;
    left: 1em;
    padding: 1.2em;
  }
}

.body-wrapper {
  background-color: #adadb2;
}
