.orders-result-wrapper {
  text-align: center;
  overflow: auto;
}
.orders-filter-wrapper {
  border-right: 0.3px solid #000;
}
h1 {
  text-align: center;
}

.empty {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.checkout-btn-wrapper {
  text-align: center;
  .button {
  background-color: #fff;
  border: 2px solid #e7e7e7;
  color: #000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: #e7e7e7;
  }
}
}
