<!DOCTYPE html>
%html
  %head
    %title= yield(:title)
    = csrf_meta_tags 
    = csp_meta_tag 

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 

  %body
    - if is_admin?
      = render "shared/header_admin"
    - else
      = render "shared/header_guest"
    .body-wrapper
      = yield
    - if is_admin?
      = render "shared/footer_admin"
    - else 
      = render "shared/footer_guest"

